.button {
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border: 0;
    cursor: pointer;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary:hover {
    color: var(--white);
    background-color: var(--primary-hover);
} 

.white {
    color: var(--primary);
    background-color: var(--white);
}

.white:hover {
    color: var(--white);
    background-color: var(--primary);    
}